/PRESENCIALFRAN/PresencialFran/nbproject/private/
/PRESENCIALFRAN/PresencialFran/build/
/JAVA/Leccion1/Ejercicio1/nbproject/private/
/JAVA/Leccion1/Ejercicio1/build/
/JAVA/Leccion1/EjerciciosClase9/nbproject/private/
/JAVA/Leccion1/Ejercicio5/nbproject/private/
/JAVA/Leccion1/Ejercicio6/nbproject/private/
/JAVA/Leccion1/Ejercicio7/nbproject/private/
/JAVA/Leccion1/Ejercicio2/nbproject/private/
/JAVA/Leccion1/Ejercicio3/nbproject/private/
/JAVA/Leccion1/Ejercicio4/nbproject/private/
/JAVA/Leccion1/Ejercicio5/build/
/JAVA/Leccion1/Ejercicio6/build/
/JAVA/Leccion1/Ejercicio7/build/
